project: 
  title: "Spatiotemporal Datascience"
  output-dir: _site/slides

format: 
  revealjs-clean:
    smaller: true
    slide-number: c/t
    
bibliography: auxilliary/references.bib
execute: 
  warning: false
  message: false
  echo: true
freeze: true
