/*-- scss:rules --*/


/*
.sidebar-logo{
    content: url("images/zhaw_sw_neg.png");
}
*/

/*
h2:not(#toc-title), h3 {
  margin-top: 100vh !important;
}
*/

.level2, .level3, .br{
  margin-top: 50vh;
  margin-bottom: 50vh;
}